#single-help {
  .case {
    .help-inter-wrapper {
      @include breakpoint($breakpoint-tablet) {
        grid-template-columns: 1fr;

        .help-inter__img {
          order: -1;
        }
      }

      display: grid;
      grid-template-columns: 1fr;
      // gap: 30px;
      // align-items: center;
    }

    &-item__sign {
      height: 27px;
      padding-top: 20px;
      font-size: 20px;
      line-height: 27.2px;
    }
  }



  .swiper-slide {
      height: auto;
  }

  .slide__video {
    // @include breakpoint($breakpoint-laptop) {
    //   height: 243px;
    // }
    // @include breakpoint($breakpoint-notebook) {
    //   height: calc(100% - 47px);
    // }

    object-fit: cover;
    width: 100%;
    height: calc(100% - 47px);
    max-height: 100%;

    // aspect-ratio: 1 / 0.791;
  }
}