// -----------------------------------------------------------------------------
// В этом файле прописываются все стили относящиеся к шапке сайта
// -----------------------------------------------------------------------------

#header {

}

.header {
  &-wrapper {
    display: grid;
    grid-template-columns: 2fr 4fr 1fr auto 1fr auto;
    padding: 21px 0;
    place-items: center center;
  }

  &__menu {
    padding-right: 40px;
    padding-left: 86px;
  }

  &__social {
    // padding-left: 86px;
  }

  &__contacts {
    justify-self: center;
  }

  &__search {
    justify-self: center;
  }

}