// -----------------------------------------------------------------------------
// В этом файле прописываются все стили относящиеся к блоку навигации
// -----------------------------------------------------------------------------

.nav {
  &__list {
    display: flex;
    gap: 43px;
  }

  &__item {
    white-space: nowrap;
  }

  &__link {
  }



  &--header {
    .nav__item {

    }

    .nav__link {

    }
  }
}
