// -----------------------------------------------------------------------------
// В этом файле прописываются все стили относящиеся к блоку навигации
// -----------------------------------------------------------------------------

.nav {
  &__list {
    display: flex;
    gap: 43px;
  }

  &--breadcrumb {
    .nav__list {
      gap: 10px;
    }

    .nav__item:not(:first-child)::before {
      content: "\2015";
      padding-right: 6px;
      color: rgba(0, 148, 147, 1);
    }

  }

  &__item {
    white-space: nowrap;
  }

  .current-menu-item {
    color: rgba(0, 0, 0, 0.5);
  }


  &__link {
  }

  &--header {
    .nav__item {
    }

    .nav__link {
    }
  }
}
