// -----------------------------------------------------------------------------
// В этом файле прописываются общие стили для всех секций сайта
// -----------------------------------------------------------------------------

.section {
  margin: 0 auto;

  &__header {
  }

  &__title {
  }

  .title-gradient {
    background: linear-gradient(88.84deg, #00072c -3.58%, #007c7b 95.08%);
    -webkit-background-clip: text;
    font-weight: $weight-Bold;
    font-family: $font-title;
    -webkit-text-fill-color: transparent;
  }

  h2 {
    @include breakpoint($breakpoint-notebook) {
      font-size: 32px !important;
      line-height: 39px !important;
    }
    @include breakpoint($breakpoint-mobile) {
      padding-top: 45px;
      font-size: 24px !important;
      line-height: 26px !important;
    }

    padding-top: 59px;
    padding-bottom: 25px;
    font-weight: 700;
    font-size: 40px;
    font-family: $font-title;
    line-height: 50px;
  }

  .page__breadcrumbs {
    @include breakpoint($breakpoint-notebook) {
      padding-top: 30px;
    }
    @include breakpoint($breakpoint-tablet) {
      display: none;
    }

    position: relative;
    z-index: 1;
    padding-top: 20px;

    span.nav__link {
      color: rgba(87, 143, 143, 1);
    }

    a.nav__link {
      color: rgba(0, 116, 115, 1);

      &:hover {
        color: $palette-orange;
      }
    }
  }
}
