.logo-wrapper {
  display: flex;
}

.logo__text {
  @include breakpoint($breakpoint-tablet) {
    font-size: $font__text--regular;
    line-height: 12px;
  }
  @include breakpoint($breakpoint-mobile) {
    font-size: 12px;
    line-height: 12px;
  }

  color: $color-text__blue;
  font-size: $font__text--small;
  line-height: 17.07px;
  letter-spacing: 0.03em;

  // span {
  //   @include breakpoint($breakpoint-mobile) {
  //     display: none;
  //   }
  // }

  &-title {
    @include breakpoint($breakpoint-tablet) {
      font-size: $font__text--regular;
      line-height: 20px;
    }
    @include breakpoint($breakpoint-mobile) {
      font-size: 14px;
      line-height: 16px;
    }

    padding: 10px 0 5px;
    font-weight: $weight-Bold;
    font-size: $font__text--big;
    line-height: 22px;
    letter-spacing: -0.01em;
    text-transform: uppercase;
  }
}

.logo {
  img {
    @include breakpoint($breakpoint-tablet) {
      max-width:50px;
    }
    @include breakpoint($breakpoint-mobile) {
      max-width:35px;
    }

    max-width: unset;
    // height: auto;
  }
}