.about-info {
  @include breakpoint($breakpoint-notebook) {
    background: url("../assets/images/global/bg-left.svg") left top no-repeat,
      linear-gradient(180deg, #ffffff 18.87%, #009493 100%);
  }
  @include breakpoint($breakpoint-mobile) {
    background: linear-gradient(180deg, #ffffff 18.87%, #009493 100%);
  }

  position: relative;
  overflow: hidden;
  max-width: 1920px;
  padding: 0;
  border-radius: 0 0 70px 70px;
  background: url("../assets/images/global/bg-left.svg") left top no-repeat,
    url("../assets/images/global/bg-right.svg") right 300px bottom -100px no-repeat,
    linear-gradient(180deg, #ffffff 18.87%, #009493 100%);

  &--bg {
    @include breakpoint($breakpoint-tablet) {
      display: none;
    }

    position: absolute;
    top: 0;
    right: 0;
    width: 632px;
    height: 775px;
    background-image: url("../assets/images/global/bg-about.jpg");
    background-position: top 0 right 0;
    background-repeat: no-repeat;
    box-shadow: 0 0 20px 20px #ffffff inset;
    opacity: 0.3;
    -webkit-transition: 0.4s ease;
    -o-transition: 0.4s ease;
    transition: 0.4s ease;
  }

  .container {
    @include breakpoint($breakpoint-notebook) {
      max-width: 100%;
    }
  }

  &-wrapper {
    @include breakpoint($breakpoint-notebook) {
      grid-template-columns: 1fr 0.8fr;
    }
    @include breakpoint($breakpoint-tablet) {
      grid-template-columns: 1fr;
    }

    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  &__left {
    @include breakpoint($breakpoint-notebook) {
      padding-bottom: 20px;
    }

    &-title {
      @include breakpoint($breakpoint-notebook) {
        margin-top: 59px;
        margin-bottom: 28px;
        font-weight: 700;
        font-size: 36px;
        line-height: 44px;
      }
      @include breakpoint($breakpoint-mobile) {
        margin-top: 31px;
        margin-bottom: 20px;
        font-size: 26px;
        line-height: 32px;
      }

      margin-top: 87px;
      margin-bottom: 46px;
      font-weight: $weight-Bold;
      font-size: 48px;
      line-height: 59.33px;
    }

    &-bold {
      padding-bottom: 26px;
      font-weight: 600;
      font-size: 20px;
      line-height: 34px;

      span {
        font-weight: 600;
        font-size: 16px;
        line-height: 27.2px;
      }
    }

    &-text {
      line-height: 22.4px;
    }

    .button-primary {
      @include breakpoint($breakpoint-mobile) {
        display: flex;
        justify-content: center;
      }

      display: inline-block;
      margin: 20px 0;
    }
  }

  &__right {
    @include breakpoint($breakpoint-notebook) {
      align-self: end;
    }
    @include breakpoint($breakpoint-tablet) {
      display: none;
    }

    z-index: 10;
    align-self: end;

    img {
      @include breakpoint($breakpoint-notebook) {
        max-width: 80%;
      }

      width: unset;
      margin-left: 50px;
    }
  }
}
