.education {
  max-width: 1920px;
  border-radius: 70px 70px 0 0;
  background: linear-gradient(0deg, #ffffff 18.87%, #e9f2f2 100%);

  // background: #009493;

  &-wrapper {
    height: 500px;
    padding-top: 60px;
  }
}
