.profile-medication {
  max-width: 1920px;
  padding-bottom: 52px;
  border-radius: 70px;
  background: url("../assets/images/layout/section/profile-medication/bg.svg") center top 100px no-repeat rgba(233, 242, 242, 1);

  .container {
    @include breakpoint($breakpoint-laptop) {
      max-width: 90%;
    }
  }

  h2 {
    padding-bottom: 0;
  }

  &-wrapper {
    @include breakpoint($breakpoint-laptop) {
      margin-top: 0;
    }
    @include breakpoint($breakpoint-notebook) {
      grid-template-columns: 2fr 1fr;
      align-items: start;
    }
    @include breakpoint($breakpoint-tablet) {
      grid-template-columns: 1fr;
      align-items: start;
    }

    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 33px;
    align-items: end;
    // margin-top: -30px;
  }

  &__info {
    p {
      padding-top: 10px;
    }

    ul {
      padding: 10px 0 0 25px;
      list-style: disc;

      li {
        padding: 3px 0;
      }
    }

  }

  &__img {
    @include breakpoint($breakpoint-tablet) {
      display: none;
    }
  }

  .swiper {
    margin-top: 62px;
    margin-bottom: 24px;

    &-slide-wrap {
      overflow: hidden;
      height: 170px;
    }

    &-slide {
      padding: 26px 30px 21px;
      border-radius: 25px;
      background: $palette-white;
      text-align: center;
      transition: $transition-time ease;

      &:hover {
        .swiper-slide-title {
          color: $color-text__orange;
        }

        p {
          color: rgba(93, 115, 115, 1);
        }
      }

      &-title {
        padding-bottom: 10px;
        color: $color-text__blue;
        font-weight: 600;
        font-size: 20px;
        line-height: 28px;
      }
    }
  }

  .button-primary {
    display: flex;
    justify-content: center;
    width: 220px;
    margin: 24px auto 0;
  }

  &__buttons {
    position: relative;

    .swiper-button-prev,
    .swiper-button-next {
      top: 50%;
      color: $color-text__blue;

      &::after {
        font-weight: 400;
        font-size: 40px;
      }
    }

    .swiper-button-prev {
      @include breakpoint($breakpoint-tablet) {
        left: -30px;
      }

      left: -50px;
    }

    .swiper-button-next {
      @include breakpoint($breakpoint-tablet) {
        right: -30px;
      }

      right: -50px;
    }
  }
}
