.reviews {
  padding-bottom: 40px;

  /* stylelint-disable-next-line selector-id-pattern */
  #pd_widget_big {
    max-width: 100% !important;
    background-color: $palette-white !important;

    .pd_rate_new,
    .pd_read_all {
      background: $palette-orange !important;

      &:hover {
        background: $palette-orange !important;
      }
    }

    .pd-widget-reviews {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 20px;

      .pd-widget-reviews__number-of-reviews {
        display: none;
      }
    }
  }
}
