.reviews {
  padding-bottom: 40px;
  background: none;

  .container {
    @include breakpoint($breakpoint-notebook) {
      max-width: 100%;
    }
  }

  /* stylelint-disable-next-line selector-id-pattern */
  #pd_widget_big {
    max-width: 100% !important;
    background-color: $palette-white !important;

    .pd_rate_new,
    .pd_read_all {
      background: $palette-orange !important;

      &:hover {
        background: $palette-orange !important;
      }
    }

    .pd-widget-reviews {
      @include breakpoint($breakpoint-notebook) {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        gap: 0;
      }
      @include breakpoint($breakpoint-tablet) {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
      }

      display: grid;
      grid-template-rows: 1fr;
      grid-template-columns: repeat(4, 1fr);
      grid-auto-rows: 0;
      gap: 20px;
      overflow-y: hidden;

      .pd-widget-reviews__number-of-reviews {
        display: none;
      }

      .pd-widget-reviews__review {
        @include breakpoint($breakpoint-notebook) {
          margin-right: 10px;
          margin-left: 10px;
        }
      }
    }
  }
}
