<div class="education__items-wrap">
  <div class="education__item">
    <p>
      Тверской государственный медицинский университет
      <span>2015 г.</span>
    </p>
  </div>
  <!-- /.education__item -->

  <div class="education__item">
    <p>
      Лечебное дело
      <span>Базовое образование.<br>2017 г.</span>
    </p>
  </div>
  <!-- /.education__item -->

  <div class="education__item">
    <p>
      Травмотологияи ортопедия
      <span>Ординатура.<br>2020 г.</span>
    </p>
  </div>
  <!-- /.education__item -->

  <div class="education__item">
    <p>
      Фундаментальная медицина
      <span>Аспирантура. </span>
    </p>
  </div>
  <!-- /.education__item -->

</div>
<!-- /.education__items -->