#single-about {
  .about {
    @include breakpoint($breakpoint-notebook) {
      border-radius: 40px;
    }
    @include breakpoint($breakpoint-tablet) {
      background: linear-gradient(0deg, rgba(152, 232, 231, 0.21) 0%, #98e8e7 81.13%);
    }
    @include breakpoint($breakpoint-mobile) {
      background: linear-gradient(0deg, rgba(152, 232, 231, 0.21) 0%, #98e8e7 81.13%);
    }

    position: relative;
    overflow: hidden;
    max-width: 1920px;
    padding: 0;
    border-radius: 70px;
    background-image: url("../assets/images/layout/pages/about/bg-new.jpg");
    background-position: top 0 right 0;
    background-size: cover;

    &--bg {
      @include breakpoint($breakpoint-laptop) {
        background-position: bottom 0 right 80px;
      }
      @include breakpoint($breakpoint-notebook) {
        background-position: bottom 0 right 0;
      }
      @include breakpoint($breakpoint-tablet) {
        background-position: bottom 0 right -50px;
        background-size: 250px auto;
      }
      @include breakpoint($breakpoint-mobile) {
        background-size: 210px auto;
      }

      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background-image: url("../assets/images/layout/pages/about/photo.png");
      background-position: bottom 0 right 380px;
      background-size: 300px auto;
      background-repeat: no-repeat;
      transition: 0.4s ease;
    }

    &-wrapper {
      @include breakpoint($breakpoint-tablet) {
        grid-template-columns: 0.8fr;
        height: auto;
      }

      display: grid;
      grid-template-columns: 1fr 1fr;
      height: 570px;
    }

    &__left {
      @include breakpoint($breakpoint-notebook) {
        padding-bottom: 20px;
      }

      position: relative;
      z-index: 20;

      &-title {
        @include breakpoint($breakpoint-notebook) {
          margin-bottom: 25px;
          font-weight: 700;
          font-size: 36px;
          line-height: 44px;
        }
        @include breakpoint($breakpoint-mobile) {
          margin-top: 0;
          margin-bottom: 20px;
          font-size: 20px;
          line-height: 32px;
        }

        margin-top: 0;
        margin-bottom: 26px;
        font-weight: $weight-Bold;
        font-size: 48px;
        line-height: 59.33px;
      }

      &-text {
        line-height: 22.4px;
      }

      .button-primary {
        // @include breakpoint($breakpoint-mobile) {
        //   display: inline-flex;
        // }

        position: relative;
        z-index: 10;
        display: inline-flex;
        margin-top: 25px;
      }

      &-bold {
        padding-bottom: 26px;
        font-weight: 600;
        font-size: 20px;
        line-height: 34px;

        span {
          font-weight: 600;
          font-size: 16px;
          line-height: 27.2px;
        }
      }
    }

    &__right {
      @include breakpoint($breakpoint-notebook) {
        align-self: end;
      }
      @include breakpoint($breakpoint-tablet) {
        display: none;
      }

      z-index: 10;
      align-self: end;

      img {
        @include breakpoint($breakpoint-notebook) {
          max-width: 80%;
        }

        width: unset;
        margin-left: 50px;
      }
    }
  }

  .education-about-wrapper {
    @include breakpoint($breakpoint-notebook) {
      grid-template-columns: 1fr;
    }

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 58px;

    .education__items-wrap {
      @include breakpoint($breakpoint-notebook) {
        grid-template-columns: 1fr 1fr;
      }
      @include breakpoint($breakpoint-tablet) {
        grid-template-columns: 1fr;
      }

      grid-template-columns: 1fr;
      gap: 10px;
    }

    picture > img {
      border-radius: 10px;
    }
  }
}
