#single-about {
  .about-info {
    @include breakpoint($breakpoint-notebook) {
      border-radius: 40px;
    }
    @include breakpoint($breakpoint-tablet) {
      background: linear-gradient(0deg, #ffffff 42.71%, #009493 100%);
    }

    position: relative;
    overflow: hidden;
    max-width: 1920px;
    padding: 0;
    border-radius: 70px;
    background:
      // url("../assets/images/global/bg-left.svg") left 1000px top 20px no-repeat,
      // url("../assets/images/global/bg-right.svg") right 300px bottom -100px no-repeat,
      linear-gradient(90deg, #ffffff 42.71%, #009493 100%);

    &--bg {
      @include breakpoint($breakpoint-notebook) {
        background-image: url("../assets/images/layout/pages/about/bg.jpg");
        background-position: top 0 right 0;
        background-size: cover;
      }
      @include breakpoint($breakpoint-tablet) {
        display: block;
        background-image: url("../assets/images/global/about.png");
        background-position: bottom 0 right -50px;
        background-size: 38%;
        opacity: 1;
      }
      @include breakpoint($breakpoint-mobile) {
        background-size: 65%;
      }

      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background-image: url("../assets/images/global/bg-left.svg"), url("../assets/images/layout/pages/about/bg.jpg");
      background-position: left 0 top -120px, top 0 right 0;
      background-size: 20%, cover;
      background-repeat: no-repeat;
      box-shadow: none;
      opacity: 0.3;
      transition: 0.4s ease;
    }

    &-wrapper {
      @include breakpoint($breakpoint-tablet) {
        grid-template-columns: 0.8fr;
        height: auto;
      }

      height: 570px;
    }

    &__left {
      @include breakpoint($breakpoint-notebook) {
        padding-bottom: 20px;
      }

      position: relative;
      z-index: 10;

      &-title {
        @include breakpoint($breakpoint-notebook) {
          margin-top: 33px;
          margin-bottom: 25px;
          font-weight: 700;
          font-size: 36px;
          line-height: 44px;
        }
        @include breakpoint($breakpoint-mobile) {
          margin-top: 25px;
          margin-bottom: 20px;
          font-size: 26px;
          line-height: 32px;
        }

        margin-top: 33px;
        margin-bottom: 26px;
        font-weight: $weight-Bold;
        font-size: 48px;
        line-height: 59.33px;
      }

      &-text {
        line-height: 22.4px;
      }

      .button-primary {
        @include breakpoint($breakpoint-mobile) {
          display: inline-flex;
          // justify-content: center;
        }

        position: relative;
        z-index: 10;
      }
    }

    &__right {
      @include breakpoint($breakpoint-notebook) {
        align-self: end;
      }
      @include breakpoint($breakpoint-tablet) {
        display: none;
      }

      z-index: 10;
      align-self: end;

      img {
        @include breakpoint($breakpoint-notebook) {
          max-width: 80%;
        }

        width: unset;
        margin-left: 50px;
      }
    }
  }

  .education-about-wrapper {
    @include breakpoint($breakpoint-notebook) {
      grid-template-columns: 1fr;
    }

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 58px;

    .education__items-wrap {
      @include breakpoint($breakpoint-notebook) {
        grid-template-columns: 1fr 1fr;
      }
      @include breakpoint($breakpoint-tablet) {
        grid-template-columns: 1fr;
      }

      grid-template-columns: 1fr;
      gap: 10px;
    }

    picture > img {
      border-radius: 10px;
    }
  }
}
