.progress {
  max-width: 1920px;
  padding-bottom: 56px;
  border-radius: 70px 70px 0 0;
  background: linear-gradient(0deg, #ffffff 18.87%, #e9f2f2 100%);

  .container {
    @include breakpoint($breakpoint-notebook) {
      max-width: 95%;
    }
    @include breakpoint($breakpoint-tablet) {
      max-width: 90%;
    }
  }

  .swiper {
    max-height: 440px;

    &-slide-wrap {
      overflow: hidden;
      height: 440px;
    }
  }

  &__buttons {
    position: relative;

    .swiper-button-prev,
    .swiper-button-next {
      @include breakpoint($breakpoint-laptop) {
        top: -150px;
      }
      @include breakpoint($breakpoint-notebook) {
        top: -140px;
      }
      @include breakpoint($breakpoint-tablet) {
        top: -120px;
      }
      @include breakpoint($breakpoint-mobile) {
        top: -100px;
      }

      top: -170px;
      color: $color-text__blue;

      &::after {
        font-weight: 400;
        font-size: 40px;
      }
    }

    .swiper-button-prev {
      @include breakpoint($breakpoint-tablet) {
        left: -30px;
      }

      left: -50px;
    }

    .swiper-button-next {
      @include breakpoint($breakpoint-tablet) {
        right: -30px;
      }

      right: -50px;
    }
  }

}