<section class="consultation section">
  <div class="container">
    <h2>Запишитесь на консультацию</h2>
    <form action="" data-form>
      <div class="consultation-wrapper">
        <div class="input">
          <input class="text" type="name" placeholder="ФИО">
        </div>
        <div class="input">
          <input class="mail" type="email" placeholder="E-mail">
        </div>
        <div class="input">
          <input class="tel" type="tel" placeholder="+7 (___) ___-__-__">
        </div>
        <div class="input">
          <textarea class="input" placeholder="Сообщение" rows="3"></textarea>
        </div>
        <p class="consultation-btn">
          Нажимая на кнопку Вы даете согласие на обработку ваших персональных данных и соглашаетесь с условиями персональной обработки данных
          <button class="button-white" type="submit">Отправить</button>
        </p>
      </div>
      <!-- /.consultation-wrapper -->
    </form>
  </div>
  <!-- /.container -->
</section>
<!-- /.consultation -->