<section class="consultation section">
  <div class="container">
    <h2>Запишитесь на консультацию</h2>
    <form action="">
      <div class="consultation-wrapper">
        <input class="input text" type="name" placeholder="ФИО">
        <input class="input mail" type="mail" placeholder="E-mail">
        <input class="input tel" type="phone" placeholder="+7 (___) ___-__-__">
        <textarea class="input" placeholder="Сообщение" rows="3"></textarea>
        <p class="consultation-btn">
          Нажимая на кнопку Вы даете согласие на обработку ваших персональных данных и соглашаетесь с условиями персональной обработки данных
          <button class="button-white" type="submit">Отправить</button>
        </p>
      </div>
      <!-- /.consultation-wrapper -->
    </form>
  </div>
  <!-- /.container -->
</section>
<!-- /.consultation -->