<footer id="footer" class="footer">
  <div class="container">
    <div class="footer-wrapper">
      <div class="footer__logo">
        <include src="layout/template/logo/logo.html"></include>
      </div>
      <!-- /.footer__logo -->

      <div class="footer__menu">
        <nav class="nav nav--header">
          <ul class="nav__list">
            <li class="menu-item nav__item current-menu-item"><a href="#" class="link">О специалисте</a></li>
            <li class="menu-item nav__item"><a href="#" class="link">Услуги</a></li>
            <li class="menu-item nav__item"><a href="#" class="link">Кейсы</a></li>
            <li class="menu-item nav__item"><a href="#" class="link">Контакты</a></li>
          </ul>
        </nav>
      </div>
      <!-- /.footer__menu -->

      <div class="footer__contacts">
        <strong><a href="tel:+79210000000" class="link">+7 (921) 000 00 00</a></strong><br>
        <a href="mailto:mailtest@mail.com" class="link">mailtest@mail.com</a>
      </div>
      <!-- /.footer__contacts -->

      <div class="footer__social">
        <a href="#" class="logo"><img alt="" src="assets/images/tg.png"></a>
      </div>
      <!-- /.footer__social -->

      <div class="footer__politika">
        <a href="#">Политика конфиденциальности</a>
      </div>
      <!-- /.footer__politika -->

      <div class="footer__creating">
        <a href="https://artfactor.ru" target="_blank">Создание сайта АртФактор</a>
      </div>
      <!-- /.footer__creating -->

    </div>
    <!-- /.footer-wrapper -->
  </div>
  <!-- /.container -->
</footer>