<header id="header" class="header">
  <div class="container">
    <div class="header-wrapper">
      <div class="header__logo">
        <include src="layout/template/logo/logo.html"></include>
      </div>
      <!-- /.header__logo -->

      <div class="header__menu">
        <nav class="nav nav--header">
          <ul class="nav__list">
            <li class="menu-item nav__item current-menu-item"><a href="#" class="link">О специалисте</a></li>
            <li class="menu-item nav__item"><a href="#" class="link">Услуги</a></li>
            <li class="menu-item nav__item"><a href="#" class="link">Кейсы</a></li>
            <li class="menu-item nav__item"><a href="#" class="link">Статьи</a></li>
            <li class="menu-item nav__item"><a href="#" class="link">Контакты</a></li>
          </ul>
        </nav>
      </div>
      <!-- /.header__menu -->

      <div class="header__menu-mobile--overlay"></div>

      <div class="header__menu-mobile">
        <nav class="nav nav--header">
          <ul class="nav__list">
            <li class="menu-item nav__item current-menu-item"><a href="#" class="link">О специалисте</a></li>
            <li class="menu-item nav__item"><a href="#" class="link">Услуги</a></li>
            <li class="menu-item nav__item"><a href="#" class="link">Кейсы</a></li>
            <li class="menu-item nav__item"><a href="#" class="link">Статьи</a></li>
            <li class="menu-item nav__item"><a href="#" class="link">Контакты</a></li>
          </ul>
        </nav>

        <div class="header__contacts-mobile">
          <span>
            <strong><a href="tel:+79210000000" class="link">+7 (921) 000 00 00</a></strong><br>
            <a href="mailto:mailtest@mail.com" class="link">mailtest@mail.com</a>
          </span>
        </div>
        <!-- /.header__contacts -->

        <div class="header__social">
          <a href="#" class=""><img alt="" src="assets/images/tg-mobile.png"></a>
        </div>
        <!-- /.header__social -->

        <div class="header__feedback-mobile">
          <a href="#" data-micromodal-trigger="modal-1" class="button-primary">Связаться</a>
        </div>
        <!-- /.header__feedback -->

      </div>
      <!-- /.header__menu-mobile -->

      <div class="header__social">
        <a href="#" class="" target="_blank"><img alt="" src="assets/images/tg.png"></a>
      </div>
      <!-- /.header__social -->

      <div class="header__contacts">
        <span>
          <strong><a href="tel:+79210000000" class="link header__contacts--tel">+7 (921) 000 00 00</a></strong><br>
          <a href="mailto:mailtest@mail.com" class="link">mailtest@mail.com</a>
        </span>
        <a href="#" class="header__contacts-phone"><img alt="" src="assets/images/phone.png"></a>
      </div>
      <!-- /.header__contacts -->

      <div class="header__search">
        <div class="header__search-wrapper">
          <input class="header__search-input" type="search" placeholder="Поиск">
          <a href="#" class=""><img alt="" src="assets/images/search.png"></a>
        </div>
        <!-- /.header__search-wrapper -->
      </div>
      <!-- /.header__search -->

      <div class="header__feedback">
        <a href="#" data-micromodal-trigger="modal-1" class="button-primary">Связаться</a>
      </div>
      <!-- /.header__feedback -->

      <div class="header__burger">
        <button class="hamburger hamburger--spin" type="button">
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </button>
      </div>
      <!-- /.header__burger -->

    </div>
    <!-- /.header-wrapper -->
  </div>
  <!-- /.container -->
</header>