<section class="experience section">
  <div class="container">
    <p class="experience__title title-gradient">
      Опыт работы
    </p>
    <div class="experience-wrapper">
      <div class="experience__item">
        <p>ФГБОУ ВО ТГМУ МЗ России
          ГБУЗ ГКБ №1 им. В.В. Успенского Травматолого ортопедическое отделение.<br>
          Травматолог ортопед
          <span>2017 г. - н.в.</span>
        </p>
      </div>
      <!-- /.experience__item -->
      <div class="experience__item">
        <p>ГБУЗ ГКБ №1 им. В.В. Успенского Поликлиника №1 Травмпункт<br>
          Травматолог ортопед
          <span>2018 г. - 2020 г</span>
        </p>
      </div>
      <!-- /.experience__item -->
      <div class="experience__item">
        <p>
          ГБУЗ ГКБ №1 им. В.В. Успенского Поликлиника №1 Ортопедический приём.<br>
          Травматолог ортопед
          <span>2019 г. - 2023 г.</span>
        </p>
      </div>
      <!-- /.experience__item -->
      <div class="experience__item">
        <p>
          Клиника Эксперт Тверь<br>
          Травматолог ортопед
          <span>2019 г. - н.в.</span>
        </p>
      </div>
      <!-- /.experience__item -->
    </div>
    <!-- /.experience-wrapper -->
  </div>
  <!-- /.container -->
</section>
<!-- /.experience section -->