<h2 class="education__diploms title-gradient">
  Дипломы и сертификаты
</h2>

<div class="education__diploms-wrapper">
  <div class="education__diploms-item">
    <a href="assets/images/layout/section/education/diplom1.jpg" data-fancybox="diploms" data-caption="Диплом #1">
      <picture class="lazy">
        <img alt="" class="image image--cover lazy__item "
          data-src="assets/images/layout/section/education/diplom1.jpg">
      </picture>
    </a>
  </div>
  <!-- /.education__diploms-item -->

  <div class="education__diploms-item">
    <a href="assets/images/layout/section/education/diplom2.jpg" data-fancybox="diploms" data-caption="Диплом #2">
      <picture class="lazy">
        <img alt="" class="image image--cover lazy__item "
          data-src="assets/images/layout/section/education/diplom2.jpg">
      </picture>
    </a>
  </div>
  <!-- /.education__diploms-item -->

  <div class="education__diploms-item">
    <a href="assets/images/layout/section/education/diplom2.jpg" data-fancybox="diploms" data-caption="Диплом #3">
      <picture class="lazy">
        <img alt="" class="image image--cover lazy__item "
          data-src="assets/images/layout/section/education/diplom2.jpg">
      </picture>
    </a>
  </div>
  <!-- /.education__diploms-item -->

  <div class="education__diploms-item">
    <a href="assets/images/layout/section/education/diplom2.jpg" data-fancybox="diploms" data-caption="Диплом #4">
      <picture class="lazy">
        <img alt="" class="image image--cover lazy__item "
          data-src="assets/images/layout/section/education/diplom2.jpg">
      </picture>
    </a>
  </div>
  <!-- /.education__diploms-item -->

  <div class="education__diploms-item">
    <a href="assets/images/layout/section/education/diplom2.jpg" data-fancybox="diploms" data-caption="Диплом #5">
      <picture class="lazy">
        <img alt="" class="image image--cover lazy__item "
          data-src="assets/images/layout/section/education/diplom2.jpg">
      </picture>
    </a>
  </div>
  <!-- /.education__diploms-item -->

  <div class="education__diploms-item">
    <a href="assets/images/layout/section/education/diplom2.jpg" data-fancybox="diploms" data-caption="Диплом #6">
      <picture class="lazy">
        <img alt="" class="image image--cover lazy__item "
          data-src="assets/images/layout/section/education/diplom2.jpg">
      </picture>
    </a>
  </div>
  <!-- /.education__diploms-item -->

  <div class="education__diploms-item">
    <a href="assets/images/layout/section/education/diplom2.jpg" data-fancybox="diploms" data-caption="Диплом #7">
      <picture class="lazy">
        <img alt="" class="image image--cover lazy__item "
          data-src="assets/images/layout/section/education/diplom2.jpg">
      </picture>
    </a>
  </div>
  <!-- /.education__diploms-item -->
  <div class="education__diploms-item">
    <a href="assets/images/layout/section/education/diplom1.jpg" data-fancybox="diploms" data-caption="Диплом #1">
      <picture class="lazy">
        <img alt="" class="image image--cover lazy__item "
          data-src="assets/images/layout/section/education/diplom1.jpg">
      </picture>
    </a>
  </div>
  <!-- /.education__diploms-item -->

  <div class="education__diploms-item">
    <a href="assets/images/layout/section/education/diplom2.jpg" data-fancybox="diploms" data-caption="Диплом #2">
      <picture class="lazy">
        <img alt="" class="image image--cover lazy__item "
          data-src="assets/images/layout/section/education/diplom2.jpg">
      </picture>
    </a>
  </div>
  <!-- /.education__diploms-item -->

  <div class="education__diploms-item">
    <a href="assets/images/layout/section/education/diplom2.jpg" data-fancybox="diploms" data-caption="Диплом #3">
      <picture class="lazy">
        <img alt="" class="image image--cover lazy__item "
          data-src="assets/images/layout/section/education/diplom2.jpg">
      </picture>
    </a>
  </div>
  <!-- /.education__diploms-item -->

  <div class="education__diploms-item">
    <a href="assets/images/layout/section/education/diplom2.jpg" data-fancybox="diploms" data-caption="Диплом #4">
      <picture class="lazy">
        <img alt="" class="image image--cover lazy__item "
          data-src="assets/images/layout/section/education/diplom2.jpg">
      </picture>
    </a>
  </div>
  <!-- /.education__diploms-item -->

  <div class="education__diploms-item">
    <a href="assets/images/layout/section/education/diplom2.jpg" data-fancybox="diploms" data-caption="Диплом #5">
      <picture class="lazy">
        <img alt="" class="image image--cover lazy__item "
          data-src="assets/images/layout/section/education/diplom2.jpg">
      </picture>
    </a>
  </div>
  <!-- /.education__diploms-item -->

  <div class="education__diploms-item">
    <a href="assets/images/layout/section/education/diplom2.jpg" data-fancybox="diploms" data-caption="Диплом #6">
      <picture class="lazy">
        <img alt="" class="image image--cover lazy__item "
          data-src="assets/images/layout/section/education/diplom2.jpg">
      </picture>
    </a>
  </div>
  <!-- /.education__diploms-item -->

  <div class="education__diploms-item">
    <a href="assets/images/layout/section/education/diplom2.jpg" data-fancybox="diploms" data-caption="Диплом #7">
      <picture class="lazy">
        <img alt="" class="image image--cover lazy__item "
          data-src="assets/images/layout/section/education/diplom2.jpg">
      </picture>
    </a>
  </div>
  <!-- /.education__diploms-item -->

</div>
<!-- /.education__diploms-wrapper -->