<section class="progress section">
  <div class="container">
    <h2 class="title-gradient">Достижения</h2>

    <div class="swiper">
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <a data-fancybox="progress" href="assets/images/layout/pages/about/progress.jpg" title="">
            <picture class="lazy">
              <img alt="" class="image image--cover lazy__item"
                data-src="assets/images/layout/pages/about/progress.jpg">
            </picture>
          </a>
        </div>

        <div class="swiper-slide">
          <a data-fancybox="progress" href="assets/images/layout/pages/about/progress.jpg" title="">
            <picture class="lazy">
              <img alt="" class="image image--cover lazy__item"
                data-src="assets/images/layout/pages/about/progress.jpg">
            </picture>
          </a>
        </div>

        <div class="swiper-slide">
          <a data-fancybox="progress" href="assets/images/layout/pages/about/progress.jpg" title="">
            <picture class="lazy">
              <img alt="" class="image image--cover lazy__item"
                data-src="assets/images/layout/pages/about/progress.jpg">
            </picture>
          </a>
        </div>

        <div class="swiper-slide">
          <a data-fancybox="progress" href="assets/images/layout/pages/about/progress.jpg" title="">
            <picture class="lazy">
              <img alt="" class="image image--cover lazy__item"
                data-src="assets/images/layout/pages/about/progress.jpg">
            </picture>
          </a>
        </div>

        <div class="swiper-slide">
          <a data-fancybox="progress" href="assets/images/layout/pages/about/progress.jpg" title="">
            <picture class="lazy">
              <img alt="" class="image image--cover lazy__item"
                data-src="assets/images/layout/pages/about/progress.jpg">
            </picture>
          </a>
        </div>

        <div class="swiper-slide">
          <a data-fancybox="progress" href="assets/images/layout/pages/about/progress.jpg" title="">
            <picture class="lazy">
              <img alt="" class="image image--cover lazy__item"
                data-src="assets/images/layout/pages/about/progress.jpg">
            </picture>
          </a>
        </div>

        <div class="swiper-slide">
          <a data-fancybox="progress" href="assets/images/layout/pages/about/progress.jpg" title="">
            <picture class="lazy">
              <img alt="" class="image image--cover lazy__item"
                data-src="assets/images/layout/pages/about/progress.jpg">
            </picture>
          </a>
        </div>

        <div class="swiper-slide">
          <a data-fancybox="progress" href="assets/images/layout/pages/about/progress.jpg" title="">
            <picture class="lazy">
              <img alt="" class="image image--cover lazy__item"
                data-src="assets/images/layout/pages/about/progress.jpg">
            </picture>
          </a>
        </div>

      </div>
      <!-- /.swiper-wrapper -->

    </div>
    <!-- /.swiper -->

    <div class="progress__buttons">
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
    <!-- /.profile-medication__buttons -->

  </div>
  <!-- /.container -->

</section>
<!-- /.progress section -->