#single-help {
  .container {
    @include breakpoint($breakpoint-notebook) {
      width: 90%;
    }
  }

  h1 {
    // display: block;

    padding: 33px 0 27px;
  }

  .help-wrapper {
    @include breakpoint($breakpoint-notebook) {
      grid-template-columns: repeat(2, 1fr);
    }
    @include breakpoint($breakpoint-mobile) {
      grid-template-columns: 1fr;
    }

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-bottom: 54px;

    .help__item {
      position: relative;
      padding: 28px;
      border: 1px solid rgba(209, 240, 240, 1);
      border-radius: 25px;
      background: $palette-white;
      text-align: center;

      &:hover {
        .help__item-title {
          color: $color-text__orange;
        }

        .help__item-text {
          color: rgba(93, 115, 115, 1);
        }
      }

      &-title {
        padding-bottom: 12px;
        color: rgba(0, 116, 116, 1);
        font-weight: 600;
        font-size: 20px;
        line-height: 24.8px;
      }
    }
  }

  .help-info {
    @include breakpoint($breakpoint-notebook) {
      border-radius: 40px;
    }

    max-width: 1920px;
    padding: 53px 0;
    border-radius: 70px;
    background: rgba(233, 242, 242, 1);

    li {
      color: rgba(37, 25, 9, 1);
      font-weight: 600;
      font-size: 20px;
      line-height: 27.2px;

      &::before {
        content: "";
        position: relative;
        // width: 26px;
        // height: 26px;

        padding-right: 44px;
        background-image: url("../assets/images/layout/pages/help/li.png");
        background-position: left 0 top 0;
        // background-size: cover;

        background-repeat: no-repeat;
      }

      &:not(:first-child) {
        padding-top: 21px;
      }
    }
  }

  .help-inter-wrapper {
    padding-bottom: 32px;
    font-size: 16px;
    line-height: 19.04px;

    ul {
      padding-left: 25px;

      li {
        list-style: disc;
      }
    }

    a {
      position: relative;
      text-decoration: underline;
      cursor: pointer !important;
      transition: $transition-time ease;

      &:hover {
        color: $color-text__orange;
        text-decoration: none !important;
      }
    }

    p {
      padding: 5px 0;
    }
  }

  .profile-medication__buttons {
    margin-bottom: 67px;
  }

  .swiper-button-prev,
  .swiper-button-next {
    // @include breakpoint($breakpoint-notebook) {
    //   top: -90px;
    //  }
    //  @include breakpoint($breakpoint-tablet) {
    //   top: -100px;
    //  }
    //  @include breakpoint($breakpoint-mobile) {
    //   top: -100px;
    //  }

    top: 50%;
    color: $color-text__blue;

    &::after {
      font-weight: 400;
      font-size: 40px;
    }
  }
}
